@keyframes arrowDown {
	from {
		transform: translateY(0);
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	to {
		transform: translateY(20px);
		opacity: 0;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

