@use "../base/mixins";

.about-me {
	padding-top: 120px;
	&__wrapper {
		display: grid;
		grid-template: auto 1fr/400px 1fr;
        gap: 40px 70px;
	}
	&__photo {
		grid-row: 1/3;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: top;
		}
	}
	&__descr {
		margin: 0;
		font-size: 14px;
		font-weight: 500;
		line-height: 21px; 
	}
	&__skills {
		display: grid;
		gap: 20px 40px;
		grid-template-columns: repeat(2, 1fr);
		align-content: center;
		overflow: hidden;
	}
}
.skill {
	display: grid;
	grid-template-columns: 40px 1fr;
	gap: 20px;
	&__icon {
		padding: 15px 0 0 15px;
		position: relative;
		@include mixins.before_circle;
		&:before {
			left: 0;
			top: 0;
		}
	}
	&__title {
		margin-bottom: 6px;
	}
	&__descr {
		font-size: 12px;
		font-weight: 500;
		line-height: 18px;
	}
}



