@use "../base/mixins";

.title {
	font-weight: 700;
	&_fs14 {
		font-size: 14px;
		line-height: 21px;
	}
	&_fs16 {
		font-size: 16px;
		line-height: 24px;
	}
	&_fs20 {
		font-size: 20px;
		line-height: 30px;
	}
	&_fs36 {
		font-size: 36px;
		line-height: 60px;
	}
	&_fs48 {
		font-size: 48px;
		line-height: 60px;
	}
	&__first {
        position: relative;
        text-align: center;
        margin: 6px 0;
		@include mixins.before_circle;
        &:before {
            top: -6px;
            left: 50%;
            transform: translateX(-50%);
        }
		&_mb25 {
			margin-bottom: 25px;
		}
    }
    &__second {
        text-align: center;
        margin-bottom: 25px;
    }
    &__left {
        position: relative;
        padding-left: 12px;
        margin: 6px 0;
        z-index: 1;
		@include mixins.before_circle;
    }
}